
.CardsContainer {
  padding: 40px;
  text-align: center;
}

.CardsTop h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

/* Grid layout */
.CardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  gap: 30px;
}

/* Card styling */
.CustomCard {
  border: none;
  border-radius: 12px;
  overflow: hidden; /* important for image zoom */
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  background: #fff;
  transition: box-shadow 0.5s ease-in-out; /* shadow smooth */
}

/* Title styling */
.CustomCard h3 {
  font-size: 1rem;
  margin: 12px 0;
}

/* Image styling */
.CustomCard img {
  width: 100%;
  height: auto;
  transition: transform 1s ease-in-out; /* slow smooth zoom */
}

/* Hover effect -> only image zooms */
.CustomCard:hover img {
  transform: scale(1.10); /* image zooms */
}

.CustomCard:hover {
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2); /* shadow only */
}


/* Mobile responsive */
@media (max-width: 576px) {
  .CardsGrid {
    grid-template-columns: 1fr; /* 1 card per row */
  }
  .CustomCard h3 {
    font-size: 0.8rem;
  }
}



.button-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px; /* Capsule shape */
    border: none;
    padding: 5px 20px; /* Slightly stretched width */
    margin: 5px;
    text-transform: capitalize;
  }
  
  .button-container img {
    border-radius: 50%; /* Round shape for the image */
    height: 50px;
    width: 50px;
    border: 5px solid rgb(230, 186, 82);
    margin-right: 10px; /* Space between image and text */
  }
  
#cardData{
  padding: 60px;
  background-color: #9e8c83;
}